#!/bin/sh

localip4=$(ip address show dev {{ cloud_init_interface_name }} | grep "inet " | awk '{print $2}' | cut -d"/" -f1)
localip6=$(ip address show dev {{ cloud_init_interface_name }} | grep "inet6 " | awk '{print $2}' | cut -d"/" -f1)
localhostname=$(hostname -s)
localfqdn=$(hostname -f)

# replace block :
# cloud-init-runcmd-start
# cloud-init-runcmd-end

sed -i -e "/#cloud-init-runcmd-start/,/#cloud-init-runcmd-end/c\#cloud-init-runcmd-start\n${localip4} ${localfqdn} ${localhostname}\n${localip6} ${localfqdn} ${localhostname}\n#cloud-init-runcmd-end/" /etc/hosts
