#cloud-config
package_update: {{ cloud_init_enable_updates }}
package_upgrade: {{ cloud_init_enable_updates }}
manage_resolv_conf: {{ cloud_init_manage_resolv_conf }}
datasource_list: [ NoCloud, ConfigDrive ]
runcmd:
  - /usr/local/bin/cloud-init-update-etc-hosts.sh
